<div class="flex mb-4">
  <a
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition"
    routerLink="/movimiento/guia/lista"
  >
    Atrás
  </a>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Detalle vehículo - {{ guiaSignal().id }}</h3>
  </div>
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table-auto border border-gray-300 text-sm w-full">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
