<div class="flex mb-4">
  <a
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition"
    routerLink="/administracion/vehiculo/lista"
  >
    Atrás
  </a>
</div>

<form
  class="bg-white p-6 rounded-lg shadow space-y-6"
  [formGroup]="formularioVehiculo"
  (ngSubmit)="onSubmit()"
>
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Registro de Vehículo</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <app-label> Placa </app-label>
      <app-input
        placeholder="Ingresa placa del vehiculo"
        formControlName="placa"
        [control]="formularioVehiculo.get('placa')"
        [errors]="{
          required: 'La placa es requerida.',
          maxlength: 'Máximo 6 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label> Modelo </app-label>
      <app-input
        placeholder="Ingresa modelo del vehiculo"
        formControlName="placa"
        [type]="'number'"
        maxlength=""
        [control]="formularioVehiculo.get('modelo')"
        [errors]="{
          required: 'El modelo es requerido.',
          min: 'Debe ser mayor o igual a 1900.',
          max: 'No puede ser mayor al año actual.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label> Modelo Repotenciado</app-label>
      <app-input
        placeholder="Ingresa modelo repotenciado del vehiculo"
        formControlName="placa"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('modelo_repotenciado')"
        [errors]="{
          min: 'Debe ser mayor o igual a 1900.',
          max: 'No puede ser mayor al año actual.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Motor</app-label>
      <app-input
        placeholder="Ingresa motor del vehiculo"
        formControlName="placa"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('motor')"
        [errors]="{
          maxlength: 'Máximo 50 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Chasis</app-label>
      <app-input
        placeholder="Ingresa chasis del vehiculo"
        formControlName="placa"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('chasis')"
        [errors]="{
          maxlength: 'Máximo 50 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Ejes</app-label>
      <app-input
        placeholder="Ingresa ejes del vehiculo"
        formControlName="ejes"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('ejes')"
        [errors]="{
          required: 'Este campo es requerido.',
          min: 'Debe ser al menos 1 eje.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Peso Vacío (kg)</app-label>
      <app-input
        placeholder="Ingresa el peso del vehiculo"
        formControlName="peso_vacio"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('peso_vacio')"
        [errors]="{
          required: 'Este campo es requerido.',
          min: 'Debe ser un valor positivo.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Capacidad (kg)</app-label>
      <app-input
        placeholder="Ingresa la capacidad del vehiculo"
        formControlName="placa"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('capacidad')"
        [errors]="{
          required: 'Este campo es requerido.',
          min: 'Debe ser un valor positivo.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Celular</app-label>
      <app-input
        placeholder="Celular"
        formControlName="celular"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('celular')"
        [errors]="{
          maxlength: 'Máximo 50 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Póliza</app-label>
      <app-input
        placeholder="Póliza"
        formControlName="poliza"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('poliza')"
        [errors]="{
          maxlength: 'Máximo 30 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Vence Póliza</app-label>
      <app-input
        placeholder="Póliza"
        formControlName="vence_poliza"
        [type]="'date'"
        maxlength=""
        [control]="formularioVehiculo.get('vence_poliza')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Tecnomecánica</app-label>
      <app-input
        placeholder="Tecnomecánica"
        formControlName="tecnicomecanica"
        [type]="'text'"
        maxlength=""
        [control]="formularioVehiculo.get('tecnicomecanica')"
        [errors]="{
          maxlength: 'Máximo 30 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Vence Tecnomecánica</app-label>
      <app-input
        placeholder="Póliza"
        formControlName="vence_tecnicomecanica"
        [type]="'date'"
        maxlength=""
        [control]="formularioVehiculo.get('vence_tecnicomecanica')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div></div>
    <!-- Checkboxes -->
    <div class="flex flex-col gap-2">
      <app-switch [control]="getControl('propio')" titulo="Propio"></app-switch>
      <app-switch [control]="getControl('remolque')" titulo="Remolque"></app-switch>
      <app-switch [control]="getControl('estado_inactivo')" titulo="Inactivo"></app-switch>
      <app-switch [control]="getControl('estado_revisado')" titulo="Revisado"></app-switch>
    </div>
  </div>

  <!-- Comentario al final -->
  <div>
    <label class="block text-sm font-medium text-gray-700">Comentario</label>
    <textarea rows="2" class="input" formControlName="comentario"></textarea>
  </div>

  <div class="pt-4 text-right">
    <button
      type="submit"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      Guardar
    </button>
  </div>
</form>
