<form [formGroup]="formularioGuia" (ngSubmit)="onSubmit()">
  <div class="flex gap-2 mb-4">
    <a class="btn btn-secondary" routerLink="/movimiento/guia/lista"> Atrás </a>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="card-title">{{ detalleID() > 0 ? 'Editar guía' : 'Nuevo guía' }}</h3>
    </div>
    <div class="card-body">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <app-label [required]="true">Servicio</app-label>
          <app-select-search
            [control]="getControl('servicio')"
            [errors]="{ required: 'Este campo es requerido.' }"
            [endpoint]="'transporte/servicio/seleccionar/'"
            [campoBusqueda]="'nombre__icontains'"
            [parametrosEndpoint]="{
              nombre__icontains: this.formularioGuia.get('servicio__nombre').value,
              limit: 10,
            }"
          ></app-select-search>
        </div>
        <div></div>
        <div>
          <app-label [required]="true">Cliente</app-label>
          <app-select-search
            [control]="getControl('cliente')"
            [label]="'nombre_corto'"
            [errors]="{ required: 'Este campo es requerido.' }"
            [endpoint]="'general/contacto/seleccionar/'"
            [campoBusqueda]="'nombre_corto__icontains'"
            (selectionChange)="actualizarRemitente($event)"
            [parametrosEndpoint]="{
              nombre_corto__icontains: this.formularioGuia.get('cliente__nombre_corto').value,
              cliente: 'True',
              limit: 10,
            }"
          ></app-select-search>
        </div>
        <div>
          <app-label [required]="true">Remitente</app-label>
          <app-input
            formControlName="remitente_nombre"
            [type]="'text'"
            [control]="formularioGuia.get('remitente_nombre')"
            [errors]="{ required: 'Campo obligatorio.', maxLength: 'Máximo 150 caracteres.' }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Producto</app-label>
          <app-select-search
            [control]="getControl('producto')"
            [errors]="{
              required: 'Este campo es requerido.',
            }"
            [endpoint]="'transporte/producto/seleccionar/'"
            [campoBusqueda]="'nombre__icontains'"
            [parametrosEndpoint]="{
              nombre__icontains: this.formularioGuia.get('producto__nombre').value,
              limit: 10,
            }"
          ></app-select-search>
        </div>
        <div>
          <app-label [required]="true">Empaque</app-label>
          <app-select-search
            [control]="getControl('empaque')"
            [errors]="{ required: 'Este campo es requerido.' }"
            [endpoint]="'transporte/empaque/seleccionar/'"
            [campoBusqueda]="'nombre__icontains'"
            [parametrosEndpoint]="{
              nombre__icontains: this.formularioGuia.get('empaque__nombre').value,
              limit: 10,
            }"
          ></app-select-search>
        </div>
        <div>
          <app-label>Documento</app-label>
          <app-input
            formControlName="documento"
            [type]="'text'"
            [control]="formularioGuia.get('documento')"
            [errors]="{
              maxLength: 'Máximo 30 caracteres.',
              pattern: 'Solo se permiten letras, números, comas y guiones',
            }"
          ></app-input>
        </div>

        <div class="md:col-span-2">
          <label class="block text-sm font-medium text-gray-700">Comentario</label>
          <app-input
            formControlName="comentario"
            [type]="'textarea'"
            [control]="formularioGuia.get('comentario')"
            [errors]="{ maxLength: 'Máximo 500 caracteres.' }"
            placeholder="Comentarios adicionales..."
          ></app-input>
        </div>
        <div class="flex flex-col gap-2">
          <app-switch
            [control]="getControl('contenido_verificado')"
            titulo="Contenido verificado"
          ></app-switch>
          <app-switch
            [control]="getControl('mercancia_peligrosa')"
            titulo="Mercancía peligrosa"
          ></app-switch>
          <app-switch [control]="getControl('requiere_cita')" titulo="Requiere cita"></app-switch>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <h3 class="card-title">Destinatario</h3>
    </div>
    <div class="card-body">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <app-label [required]="true">Destinatario</app-label>
          <app-select-search
            [control]="getControl('destinatario')"
            [label]="'nombre_corto'"
            [errors]="{ required: 'Este campo es requerido.' }"
            [endpoint]="'general/contacto/seleccionar/'"
            [campoBusqueda]="'nombre_corto__icontains'"
            (selectionChange)="actualizarDestinatario($event)"
            [parametrosEndpoint]="{
              nombre_corto__icontains: this.formularioGuia.get('destinatario__nombre').value,
              limit: 10,
            }"
          ></app-select-search>
        </div>
        <div>
          <app-label [required]="true">Nombre</app-label>
          <app-input
            formControlName="destinatario_nombre"
            [type]="'text'"
            [control]="formularioGuia.get('destinatario_nombre')"
            [errors]="{ required: 'Campo obligatorio.', maxLength: 'Máximo 150 caracteres.' }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Destino</app-label>
          <app-select-search
            [control]="getControl('ciudad_destino')"
            [errors]="{ required: 'Este campo es requerido.' }"
            [endpoint]="'general/ciudad/seleccionar/'"
            [campoBusqueda]="'nombre__icontains'"
            [parametrosEndpoint]="{
              nombre__icontains: this.formularioGuia.get('ciudad_destino__nombre').value,
              limit: 10,
            }"
          ></app-select-search>
        </div>
        <div>
          <app-label [required]="true">Dirección</app-label>
          <app-input
            formControlName="destinatario_direccion"
            [type]="'text'"
            [control]="formularioGuia.get('destinatario_direccion')"
            [errors]="{ required: 'Campo obligatorio.', maxLength: 'Máximo 150 caracteres.' }"
          ></app-input>
        </div>
        <div>
          <app-label>Teléfono</app-label>
          <app-input
            formControlName="destinatario_telefono"
            [type]="'text'"
            [control]="formularioGuia.get('destinatario_telefono')"
            [errors]="{ maxLength: 'Máximo 50 caracteres.' }"
          ></app-input>
        </div>
        <div>
          <app-label>Correo</app-label>
          <app-input
            formControlName="destinatario_correo"
            [type]="'text'"
            [control]="formularioGuia.get('destinatario_correo')"
            [errors]="{ email: 'Correo inválido.', maxLength: 'Máximo 255 caracteres.' }"
          ></app-input>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header">
      <h3 class="card-title">Liquidación</h3>
    </div>
    <div class="card-body">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <app-label [required]="true">Unidades</app-label>
          <app-input
            [placeholder]="'0'"
            formControlName="unidades"
            [type]="'number'"
            [control]="formularioGuia.get('unidades')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'El valor no puede ser cero o inferior.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Peso</app-label>
          <app-input
            [placeholder]="'0'"
            formControlName="peso"
            [type]="'number'"
            [control]="formularioGuia.get('peso')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'El valor no puede ser cero o inferior.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Volumen (alto*largo*ancho*400)</app-label>
          <app-input
            [placeholder]="'0'"
            formControlName="volumen"
            [type]="'number'"
            [control]="formularioGuia.get('volumen')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'El valor no puede ser cero o inferior.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Peso facturado</app-label>
          <app-input
            [placeholder]="'0'"
            formControlName="peso_facturado"
            [type]="'number'"
            [control]="formularioGuia.get('peso_facturado')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'El valor no puede ser cero o inferior.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Valor declarado</app-label>
          <app-input
            formControlName="declara"
            [type]="'number'"
            [control]="formularioGuia.get('declara')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'Debe ser positivo.',
              maxLength: 'Máximo 20 caracteres.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Flete</app-label>
          <app-input
            formControlName="flete"
            [type]="'number'"
            [control]="formularioGuia.get('flete')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'Debe ser positivo.',
              maxLength: 'Máximo 20 caracteres.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Manejo</app-label>
          <app-input
            formControlName="manejo"
            [type]="'number'"
            [control]="formularioGuia.get('manejo')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'Debe ser positivo.',
              maxLength: 'Máximo 20 caracteres.',
            }"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Recaudo</app-label>
          <app-input
            formControlName="recaudo"
            [type]="'number'"
            [control]="formularioGuia.get('recaudo')"
            [errors]="{
              required: 'Campo obligatorio.',
              min: 'Debe ser positivo.',
              maxLength: 'Máximo 20 caracteres.',
            }"
          ></app-input>
        </div>
      </div>
    </div>
  </div>
</form>
