<div class="flex justify-between mb-4 gap-2">
  <app-paginador
    [totalItems]="estadoPaginacion().totalItems"
    [itemsPerPage]="estadoPaginacion().itemsPorPagina"
    (pageChange)="onPageChange($event)"
  ></app-paginador>
  <div class="flex">
    @if (!despacho.estado_aprobado) {
      <app-despacho-modal-lista-guias-pendiente
        (registroExitoso)="consultarInformacion()"
      ></app-despacho-modal-lista-guias-pendiente>
      <app-despacho-modal-agregar-guia
        (registroExitoso)="consultarInformacion()"
      ></app-despacho-modal-agregar-guia>
      <button
        class="btn btn-danger rounded-l-none"
        (click)="eliminar()"
        [disabled]="despachosSeleccionados().length === 0"
      >
        Eliminar
      </button>
    }
  </div>
</div>
<app-tabla
  [columnas]="columnas"
  [datos]="guias()"
  [mostrarAcciones]="false"
  (seleccionCambiada)="onSeleccionDespachos($event)"
  [mostrarCheckbox]="!despacho.estado_aprobado"
></app-tabla>
