<form [formGroup]="formularioGuiaEntregar" (ngSubmit)="onSubmit()">
  <div class="flex flex-row gap-2 mt-2">
    @if (!ocultarInput) {
      <div class="flex flex-row">
        <div class="rounded-r-none mb-5">
          <app-input
            formControlName="id"
            [type]="'number'"
            [placeholder]="'Ingrese código de guía'"
            [errors]="{ required: 'Este campo es requerido.' }"
            [control]="formularioGuiaEntregar.get('id')"
            [inputClass]="'rounded-r-none'"
          ></app-input>
        </div>
        <button class="btn btn-primary rounded-l-none" type="submit">Entregar</button>
      </div>
    }
    <div class="flex flex-row gap-2 items-baseline">
      <app-input
        formControlName="fecha"
        [type]="'date'"
        [errors]="{ required: 'Este campo es requerido.' }"
        [control]="formularioGuiaEntregar.get('fecha')"
      ></app-input>
      <app-input
        formControlName="hora"
        [type]="'time'"
        [control]="formularioGuiaEntregar.get('hora')"
        [errors]="{ required: 'Este campo es requerido.' }"
      ></app-input>
      <app-switch [control]="getControl('soporte')" titulo="Soporte"></app-switch>
    </div>
  </div>
</form>
