<div class="flex justify-end mb-4">
  <a
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition"
    routerLink="/movimiento/guia/nuevo"
  >
    Nuevo
  </a>
  <button
    class="bg-red-600 text-white px-4 py-2 rounded-lg shadow hover:bg-red-700 transition"
    (click)="eliminar()"
  >
    Eliminar
  </button>
</div>

<app-tabla
  [columnas]="columnas"
  [datos]="arrGuiasSignal()"
  [rutas]="{
    editar: '/movimiento/guia/editar',
    detalle: '/movimiento/guia/detalle',
  }"
  (seleccionCambiada)="onSeleccionGuias($event)"
></app-tabla>
