<div class="flex justify-end mb-4">
  <a
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition"
    routerLink="/administracion/vehiculo/nuevo"
  >
    Nuevo
  </a>
</div>

<button
  class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-y border-l border-gray-200"
  (click)="eliminar()"
>
  Elimianr
</button>

<app-tabla
  [columnas]="columnas"
  [datos]="arrVehiculos()"
  [rutas]="{
    editar: '/administracion/vehiculo/editar',
    detalle: '/administracion/vehiculo/detalle',
  }"
  (seleccionCambiada)="onSeleccionVehiculos($event)"
></app-tabla>
