<div class="flex mb-4">
  <a class="btn btn-secondary" routerLink="/administracion/vehiculo/lista"> Atrás </a>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Detalle vehículo - {{ vehiculosSignal().id }}</h3>
  </div>
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table-auto border border-gray-300 text-sm w-full">
        <tbody>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Placa
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().placa }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Modelo
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().modelo }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Modelo Repotenciado
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().modelo_repotenciado }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Motor
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().motor }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Chasis
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().chasis }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Número ejes
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().ejes }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Peso Vacío (kg)
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().peso_vacio }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Capacidad (kg)
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().capacidad }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Celular
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().celular }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Tecnomecánica
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().tecnicomecanica }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Vence Tecnomecánica
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().vence_tecnicomecanica }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Color
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().color__nombre }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Marca
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().marca__nombre }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Línea
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().linea__nombre }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Combustible
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().combustible__nombre }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Carrocería
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().carroceria__nombre }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Configuración
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().configuracion__nombre }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Poseedor
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().poseedor__nombre_corto }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Propietario
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().propietario__nombre_corto }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Propio
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().propietario }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Remolque
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().remolque }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Inactivo
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().estado_inactivo }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Revisado
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().estado_revisado }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Aseguradora
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().aseguradora__nombre_corto }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Póliza
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().poliza }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Vence Póliza
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().vence_poliza }}</td>
          </tr>
          <tr>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Comentario
            </td>
            <td colspan="3" class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().comentario }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
