<div class="flex mb-4">
  <a class="btn btn-secondary" routerLink="/administracion/conductor/lista"> Atrás </a>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Detalle conductor - {{ vehiculosSignal().id }}</h3>
  </div>
  <div class="card-body">
    <div class="overflow-x-auto">
      <table class="table-auto border border-gray-300 text-sm w-full">
        <tbody>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Nombre
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().nombre_corto }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Tipo identificación
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().identificacion__nombre }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Identificación
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().numero_identificacion }} -
              {{ vehiculosSignal().digito_verificacion }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Dirección
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().direccion }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Teléfono
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().telefono }}</td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Celular
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().celular }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Fecha ingreso
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().fecha_ingreso }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Fecha retiro
            </td>
            <td class="px-4 py-3 border-r border-gray-300">{{ vehiculosSignal().fecha_retiro }}</td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Licencia
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().numero_licencia }}
            </td>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Fecha expedición licencia
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().fecha_expedicion_licencia }}
            </td>
          </tr>
          <tr class="border-b border-gray-300">
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Fecha vencimiento licencia
            </td>
            <td class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().fecha_expedicion_licencia }}
            </td>
          </tr>
          <tr>
            <td class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100">
              Comentario
            </td>
            <td colspan="3" class="px-4 py-3 border-r border-gray-300">
              {{ vehiculosSignal().comentario }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
