<form [formGroup]="formularioVehiculo" (ngSubmit)="onSubmit()">
  <div class="flex gap-2 mb-4">
    <a
      class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition"
      routerLink="/administracion/vehiculo/lista"
    >
      Atrás
    </a>

    <button
      type="submit"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      Guardar
    </button>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ detalleID() > 0 ? 'Editar vehículo' : 'Registro de vehículo' }}</h3>
    </div>
    <div>
      <div class="card-body">
        <h3 class="text-base font-medium text-gray-800 mb-4">Información general</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <app-label [required]="true"> Placa </app-label>
            <app-input
              placeholder="Ingresa placa del vehiculo"
              formControlName="placa"
              [control]="formularioVehiculo.get('placa')"
              [errors]="{
                required: 'La placa es requerida.',
                maxlength: 'Máximo 6 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true"> Modelo </app-label>
            <app-input
              placeholder="Ingresa modelo del vehiculo"
              formControlName="modelo"
              [type]="'number'"
              [control]="formularioVehiculo.get('modelo')"
              [errors]="{
                required: 'El modelo es requerido.',
                min: 'Debe ser mayor o igual a 1900.',
                max: 'No puede ser mayor al año actual.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label> Modelo Repotenciado</app-label>
            <app-input
              placeholder="Ingresa modelo repotenciado del vehiculo"
              formControlName="modelo_repotenciado"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('modelo_repotenciado')"
              [errors]="{
                min: 'Debe ser mayor o igual a 1900.',
                max: 'No puede ser mayor al año actual.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Motor</app-label>
            <app-input
              placeholder="Ingresa motor del vehiculo"
              formControlName="motor"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('motor')"
              [errors]="{
                maxlength: 'Máximo 50 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Chasis</app-label>
            <app-input
              placeholder="Ingresa chasis del vehiculo"
              formControlName="chasis"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('chasis')"
              [errors]="{
                maxlength: 'Máximo 50 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Número ejes</app-label>
            <app-input
              placeholder="Ingresa ejes del vehiculo"
              formControlName="ejes"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('ejes')"
              [errors]="{
                required: 'Este campo es requerido.',
                min: 'Debe ser al menos 1 eje.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Peso Vacío (kg)</app-label>
            <app-input
              placeholder="Ingresa el peso del vehiculo"
              formControlName="peso_vacio"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('peso_vacio')"
              [errors]="{
                required: 'Este campo es requerido.',
                min: 'Debe ser un valor positivo.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Capacidad (kg)</app-label>
            <app-input
              placeholder="Ingresa la capacidad del vehiculo"
              formControlName="capacidad"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('capacidad')"
              [errors]="{
                required: 'Este campo es requerido.',
                min: 'Debe ser un valor positivo.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Celular</app-label>
            <app-input
              placeholder="Celular"
              formControlName="celular"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('celular')"
              [errors]="{
                maxlength: 'Máximo 50 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Tecnomecánica</app-label>
            <app-input
              placeholder="Tecnomecánica"
              formControlName="tecnicomecanica"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('tecnicomecanica')"
              [errors]="{
                maxlength: 'Máximo 30 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Vence Tecnomecánica</app-label>
            <app-input
              placeholder="Póliza"
              formControlName="vence_tecnicomecanica"
              [type]="'date'"
              maxlength=""
              [control]="formularioVehiculo.get('vence_tecnicomecanica')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Color</app-label>
            <app-select-search
              [options]="arrColores()"
              [control]="getControl('color')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>

          <div>
            <app-label [required]="true">Marca</app-label>
            <app-select-search
              [options]="arrMarcas()"
              [control]="getControl('marca')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Linea</app-label>
            <app-select-search
              [options]="arrLinea()"
              [control]="getControl('linea')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Combustible</app-label>
            <app-select-search
              [options]="arrCombustible()"
              [control]="getControl('combustible')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Carroceria</app-label>
            <app-select-search
              [options]="arrCarroceria()"
              [control]="getControl('carroceria')"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Vehiculo configuracion</app-label>
            <app-select-search
              [options]="arrVehiculoConfiguracion()"
              [control]="getControl('configuracion')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>
          <div></div>

          <div>
            <app-label [required]="true">Poseedor</app-label>
            <app-select-search
              [options]="arrPoseedor()"
              [control]="getControl('poseedor')"
              [label]="'nombre_corto'"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Propietario</app-label>
            <app-select-search
              [options]="arrPropietario()"
              [control]="getControl('propietario')"
              [label]="'nombre_corto'"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>

          <!-- Checkboxes -->
          <div class="flex flex-col gap-2">
            <app-switch [control]="getControl('propio')" titulo="Propio"></app-switch>
            <app-switch [control]="getControl('remolque')" titulo="Remolque"></app-switch>
            <app-switch [control]="getControl('estado_inactivo')" titulo="Inactivo"></app-switch>
            <app-switch [control]="getControl('estado_revisado')" titulo="Revisado"></app-switch>
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Comentario</label>
          <textarea
            rows="4"
            class="w-full px-3 py-2 text-gray-700 border rounded-lg"
            formControlName="comentario"
          ></textarea>
        </div>

        <h3 class="text-lg font-medium text-gray-800 mb-4">Información aseguradora</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <app-label [required]="true">Aseguradora</app-label>
            <app-select-search
              [options]="arrAseguradora()"
              [control]="getControl('aseguradora')"
              [label]="'nombre_corto'"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-select-search>
          </div>

          <div>
            <app-label>Póliza</app-label>
            <app-input
              placeholder="Póliza"
              formControlName="poliza"
              [type]="'text'"
              maxlength=""
              [control]="formularioVehiculo.get('poliza')"
              [errors]="{
                maxlength: 'Máximo 30 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Vence Póliza</app-label>
            <app-input
              placeholder="Póliza"
              formControlName="vence_poliza"
              [type]="'date'"
              maxlength=""
              [control]="formularioVehiculo.get('vence_poliza')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
