<form [formGroup]="formularioVehiculo" (ngSubmit)="onSubmit()">
  <div class="flex gap-2 mb-4">
    <a class="btn btn-secondary" routerLink="/administracion/vehiculo/lista"> Atrás </a>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ detalleID() > 0 ? 'Editar vehículo' : 'Registro de vehículo' }}</h3>
    </div>
    <div>
      <div class="card-body">
        <h3 class="text-base font-medium text-gray-800 mb-4">Información general</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <app-label [required]="true"> Placa </app-label>
            <app-input
              placeholder="Ingresa placa del vehiculo"
              formControlName="placa"
              [control]="formularioVehiculo.get('placa')"
              [errors]="{
                required: 'La placa es requerida.',
                maxLength: 'Máximo 6 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true"> Modelo </app-label>
            <app-input
              placeholder="Ingresa modelo del vehiculo"
              formControlName="modelo"
              [type]="'number'"
              [control]="formularioVehiculo.get('modelo')"
              [errors]="{
                required: 'El modelo es requerido.',
                min: 'Debe ser mayor o igual a 1900.',
                max: 'No puede ser mayor al año actual.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label> Modelo Repotenciado</app-label>
            <app-input
              placeholder="Ingresa modelo repotenciado del vehiculo"
              formControlName="modelo_repotenciado"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('modelo_repotenciado')"
              [errors]="{
                min: 'Debe ser mayor o igual a 1900.',
                max: 'No puede ser mayor al año actual.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Motor</app-label>
            <app-input
              placeholder="Ingresa motor del vehiculo"
              formControlName="motor"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('motor')"
              [errors]="{
                maxLength: 'Máximo 50 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Chasis</app-label>
            <app-input
              placeholder="Ingresa chasis del vehiculo"
              formControlName="chasis"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('chasis')"
              [errors]="{
                maxLength: 'Máximo 50 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Número ejes</app-label>
            <app-input
              placeholder="Ingresa ejes del vehiculo"
              formControlName="ejes"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('ejes')"
              [errors]="{
                required: 'Este campo es requerido.',
                min: 'Debe ser al menos 1 eje.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Peso Vacío (kg)</app-label>
            <app-input
              placeholder="Ingresa el peso del vehiculo"
              formControlName="peso_vacio"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('peso_vacio')"
              [errors]="{
                required: 'Este campo es requerido.',
                min: 'Debe ser un valor positivo.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Capacidad (kg)</app-label>
            <app-input
              placeholder="Ingresa la capacidad del vehiculo"
              formControlName="capacidad"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('capacidad')"
              [errors]="{
                required: 'Este campo es requerido.',
                min: 'Debe ser un valor positivo.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Celular</app-label>
            <app-input
              placeholder="Celular"
              formControlName="celular"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('celular')"
              [errors]="{
                maxLength: 'Máximo 50 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label>Tecnomecánica</app-label>
            <app-input
              placeholder="Tecnomecánica"
              formControlName="tecnicomecanica"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('tecnicomecanica')"
              [errors]="{
                maxLength: 'Máximo 30 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Vence Tecnomecánica</app-label>
            <app-input
              placeholder="Póliza"
              formControlName="vence_tecnicomecanica"
              [type]="'date'"
              maxLength=""
              [control]="formularioVehiculo.get('vence_tecnicomecanica')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Color</app-label>
            <app-select-search
              [control]="getControl('color')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'transporte/color/seleccionar/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('color__nombre').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>

          <div>
            <app-label [required]="true">Marca</app-label>
            <app-select-search
              [control]="getControl('marca')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'transporte/marca/seleccionar/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('marca__nombre').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Linea</app-label>
            <app-select-search
              [control]="getControl('linea')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'transporte/linea/seleccionar/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('linea__nombre').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Combustible</app-label>
            <app-select-search
              [control]="getControl('combustible')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'transporte/combustible/seleccionar/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('combustible__nombre').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Carroceria</app-label>
            <app-select-search
              [control]="getControl('carroceria')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'transporte/carroceria/seleccionar/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('carroceria__nombre').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Vehiculo configuracion</app-label>
            <app-select-search
              [control]="getControl('configuracion')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'transporte/vehiculo_configuracion/seleccionar/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('configuracion__nombre').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>
          <div></div>
          <div>
            <app-label [required]="true">Poseedor</app-label>
            <app-select-search
              [control]="getControl('poseedor')"
              [label]="'nombre_corto'"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'general/contacto/'"
              [campoBusqueda]="'nombre'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('poseedor__nombre_corto').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>
          <div>
            <app-label [required]="true">Propietario</app-label>
            <app-select-search
              [control]="getControl('propietario')"
              [label]="'nombre_corto'"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'general/contacto/'"
              [campoBusqueda]="'nombre'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('propietario__nombre_corto').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>

          <!-- Checkboxes -->
          <div class="flex flex-col gap-2">
            <app-switch [control]="getControl('propio')" titulo="Propio"></app-switch>
            <app-switch [control]="getControl('remolque')" titulo="Remolque"></app-switch>
            <app-switch [control]="getControl('estado_inactivo')" titulo="Inactivo"></app-switch>
            <app-switch [control]="getControl('estado_revisado')" titulo="Revisado"></app-switch>
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Comentario</label>
          <textarea
            rows="4"
            class="w-full px-3 py-2 text-gray-700 border rounded-lg"
            formControlName="comentario"
          ></textarea>
        </div>

        <h3 class="text-lg font-medium text-gray-800 mb-4">Información aseguradora</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <app-label [required]="true">Aseguradora</app-label>
            <app-select-search
              [control]="getControl('aseguradora')"
              [label]="'nombre_corto'"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
              [endpoint]="'general/contacto/'"
              [campoBusqueda]="'nombre__icontains'"
              [parametrosEndpoint]="{
                nombre__icontains: this.formularioVehiculo.get('aseguradora__nombre_corto').value,
                limit: 10,
              }"
            ></app-select-search>
          </div>

          <div>
            <app-label>Póliza</app-label>
            <app-input
              placeholder="Póliza"
              formControlName="poliza"
              [type]="'text'"
              maxLength=""
              [control]="formularioVehiculo.get('poliza')"
              [errors]="{
                maxLength: 'Máximo 30 caracteres.',
              }"
            ></app-input>
          </div>

          <div>
            <app-label [required]="true">Vence Póliza</app-label>
            <app-input
              placeholder="Póliza"
              formControlName="vence_poliza"
              [type]="'date'"
              maxLength=""
              [control]="formularioVehiculo.get('vence_poliza')"
              [errors]="{
                required: 'Este campo es requerido.',
              }"
            ></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
