<div class="flex mb-4">
  <a
    class="bg-blue-600 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-700 transition"
    routerLink="/administracion/conductor/lista"
  >
    Atrás
  </a>
</div>

<form
  class="bg-white p-6 rounded-lg shadow space-y-6"
  [formGroup]="formularioConductor"
  (ngSubmit)="onSubmit()"
>
  <h2 class="text-xl font-semibold text-gray-800 mb-4">Registro de conductor</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <app-label> Identificación </app-label>
      <app-input
        placeholder="Ingresa el número identificación"
        formControlName="numero_identificacion"
        [type]="'number'"
        maxlength=""
        [control]="formularioConductor.get('numero_identificacion')"
        [errors]="{
          required: 'El modelo es requerido.',
          min: 'Debe ser mayor o igual a 1900.',
          max: 'No puede ser mayor al año actual.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label> DV </app-label>
      <app-input
        placeholder="Digito verificación"
        formControlName="digito_verificacion"
        [type]="'number'"
        maxlength=""
        [control]="formularioConductor.get('digito_verificacion')"
        [errors]="{
          required: 'El modelo es requerido.',
          min: 'Debe ser mayor o igual a 1900.',
          max: 'No puede ser mayor al año actual.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Ciudad</app-label>
      <app-select [control]="getControl('ciudad')"></app-select>
    </div>

    <div>
      <app-label>Primer nombre</app-label>
      <app-input
        placeholder="Ingresa nombre"
        formControlName="nombre1"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('nombre1')"
        [errors]="{
          maxlength: 'Máximo 50 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Segundo nombre</app-label>
      <app-input
        placeholder="Ingresa segundo nombre"
        formControlName="nombre2"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('nombre2')"
      ></app-input>
    </div>

    <div>
      <app-label>Primer apellido</app-label>
      <app-input
        placeholder="Ingresa el peso del vehiculo"
        formControlName="apellido1"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('apellido1')"
        [errors]="{
          required: 'Este campo es requerido.',
          min: 'Debe ser un valor positivo.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Segundo nombre</app-label>
      <app-input
        placeholder="Ingresa la capacidad del vehiculo"
        formControlName="apellido2"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('apellido2')"
        [errors]="{
          required: 'Este campo es requerido.',
          min: 'Debe ser un valor positivo.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Correo</app-label>
      <app-input
        placeholder="Correo"
        formControlName="correo"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('correo')"
        [errors]="{
          maxlength: 'Máximo 50 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Celular</app-label>
      <app-input
        placeholder="Celular"
        formControlName="celular"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('celular')"
        [errors]="{
          maxlength: 'Máximo 30 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Dirección</app-label>
      <app-input
        placeholder="Dirección"
        formControlName="direccion"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('direccion')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Rh</app-label>
      <app-input
        placeholder="Rh"
        formControlName="rh"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('rh')"
        [errors]="{
          maxlength: 'Máximo 30 caracteres.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Barrio</app-label>
      <app-input
        placeholder="Barrio"
        formControlName="barrio"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('vence_tecnicomecanica')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Teléfono</app-label>
      <app-input
        placeholder="Teléfono"
        formControlName="telefono"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('telefono')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Número licencia</app-label>
      <app-input
        placeholder="número licencia"
        formControlName="numero_licencia"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('numero_licencia')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Categoria licencia</app-label>
      <app-input
        placeholder="Categoria licencia"
        formControlName="categoria_licencia"
        [type]="'text'"
        maxlength=""
        [control]="formularioConductor.get('categoria_licencia')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>

    <div>
      <app-label>Fecha vence licencia</app-label>
      <app-input
        placeholder="Categoria licencia"
        formControlName="fecha_vence_licencia"
        [type]="'date'"
        maxlength=""
        [control]="formularioConductor.get('fecha_vence_licencia')"
        [errors]="{
          required: 'Este campo es requerido.',
        }"
      ></app-input>
    </div>
  </div>

  <!-- Comentario al final -->
  <div>
    <label class="block text-sm font-medium text-gray-700">Comentario</label>
    <textarea rows="2" class="input" formControlName="comentario"></textarea>
  </div>

  <div class="pt-4 text-right">
    <button
      type="submit"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      Guardar
    </button>
  </div>
</form>
